.container1 {
  background-color:whitesmoke;
  display: flex;
}
.foodlist {
  flex: 1;
  width: 80%;
  margin: 5%;
  
}
.foodform {
  flex: 1;
  width: 80%;
  margin: 5%;

}
.donateheading {
  text-align: center;
}

.form_button {
  padding: 20px;
  margin: 20px;
  width: 200px;
  
  border: white;
  color:white;
  font-size: 16px;
  border-radius: 5px;
}