
.slider {
 width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
    display:flex;
    width: 300%;
    padding: 0;
    list-style: none;
    animation: change 20s infinite;
    animation-duration:alternate;
}

.slider li {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider img {
width: 100%;

}

.rowthing {
display:inline;
}

.iconito {
  font-size: 100px;
}

@keyframes change {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    /* 75% {margin-left: -300%;}
    100% {margin-left: -300%;} */


}