.card {
  justify-content: space-between;
  margin: auto;
  width:80%;
  background-color: whitesmoke;
  padding: 5%;
  margin-top: 2%;

}
.card-header {
  text-align: center;
  color: #87C872;
  font-size: larger;
  
}
input {
  width: 80%;
  height: 30px;
  margin-top: 2%;

}
