.button{
    padding: 8rem;
    padding-left: 400px;
    
}
.button button{
  
 background-color:  #F4C095;
  border-radius: 4px;
  box-sizing: border-box;
  color: #EE2E31;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 30px 100px;
  text-align: center;
  border-style: none;
  box-shadow: 0px 0px 20px -2px #646464;
}

