.footer-container{
display: flex;
justify-content: space-between;
background-image: linear-gradient(white, #eef9e2);
color:#508f3b;
padding: 1em 0;
position: "fixed";
left: 0;
bottom: 0;
right: 0;

}
.copyright{
    padding-left:2em;
}
.contact{
    padding-right: 10em;
}
.contact a{
    margin-right: 10em;
    color:#508f3b;
}

.contact a:hover{
    color:#87C872;
}


@media only screen and (max-width:700px ){
    .copyright{
        text-align: center;
    }
    .footer-container{
    display:flex;
    flex-direction: column;
}
.contact a{
    margin-right: 10em;
    color:#508f3b;
}
.contact{
    padding-right: 5em;
}
}
@media only screen and (max-width:900px ){
    .copyright{
        margin-right: 15em;
        text-align: center;
    }
    .footer-container{
    display:flex;
    flex-direction: column;
}
.contact{
    padding-right: 3em;
    align-items: center;
}
.contact a{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    color:#508f3b;
}
}
@media only screen and (max-width:500px ){
    .copyright{
        margin-right: 15em;
        text-align: center;
    }
    .footer-container{
    display:flex;
    flex-direction: column;
}.contact{
    padding-right: 5em;
    align-items: center;
}
.contact a{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    color:#508f3b;
}
}

@media only screen and (max-width:700px ){
    .copyright{
        text-align: center;
    }
    .footer-container{
    display:flex;
    flex-direction: column;
}
.contact a{
    margin-right: 10em;
    color:#508f3b;
}
.contact{
    padding-right: 5em;
}
}
@media only screen and (max-width:900px ){
    .copyright{
        margin-right: 15em;
        text-align: center;
    }
    .footer-container{
    display:flex;
    flex-direction: column;
}
.contact{
    padding-right: 3em;
    align-items: center;
}
.contact a{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    color:#508f3b;
}
}
@media only screen and (max-width:500px ){
    .copyright{
        margin-right: 15em;
        text-align: center;
    }
    .footer-container{
    display:flex;
    flex-direction: column;
}.contact{
    padding-right: 5em;
    align-items: center;
}
.contact a{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    color:#508f3b;
}
}