.header-container{
    height: 50px;
    width: 100%;
    color:#F4C095;
    background-image: radial-gradient(#269792, #1D7874) ;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 50px 10px;
    justify-content: space-between;

}
.title{
    font-size: 64px;
    padding-left: 20px;
}
.navbar ul{
    display: inline-flex;
    padding-right: 200px;
    font-size: 32px;
}
.navbar ul .nav{
    padding-right: 30px;
    text-decoration: none;
}